<!DOCTYPE html>
<html>
  <head>
    <title>MoviesDb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Header Section -->
    <header class="bg-blue-500 text-center py-4 text-white">
      <%= link_to "Watched Movies", "/watched-movies", class: 'text-xl underline hover:text-gray-200' %>
      <%= link_to "Movies", "/movies", class: 'text-xl underline hover:text-gray-200' %>
    </header>

    <!-- Body Section -->
    <main class="container mx-auto py-10">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
